# Frontend Environment Variables

VITE_API_BASE_URL=http://localhost:3001/api
VITE_APP_NAME=Plataforma de Gestión Contable
VITE_APP_VERSION=0.1.0

# Default Google Sheet ID (ID de la hoja que se abre por defecto)
# Ejemplo: Copia de Saldos Finan
VITE_DEFAULT_SHEET_ID=1jzGjT49CVcsaNau6okiZHlLt58cKlnB8qxVg2-jrJyE
